@media (max-width: 640px) {
  /* phone */

  html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  #header {
    width: 100%;
    height: 75px;
  }

  #nav {
    width: 100%;
    height: 150px;
  }

  #bigContent {
    width: 100%;
    height: 250px;
  }

  #smallContent {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }

  #smallContent > p {
    width: 50%;
    height: 50%;
    margin: 0px;
  }

  #a, #b, #c, #d, #e, #f, #g, #h, #j{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black .5px;
    margin: 0px;
  }

  #a {
    background-color: #ffc56fda;
    height: 75px;
  }
  
  #b{
    background-color: #ec7d3dde;
    width: 100%;
    height: 150px;
  }
  
  #c{
    background-color: #2d39dfd3;
    height: 125px;
  }
  
  #d{
    background-color: #b7d86b;
    height: 125px;
  }
  
  #e{
    background-color: #ca0505e1;
  }
  
  #f{
    background-color: #950dbee1;
  }
  
  #g{
    background-color: #c2bcbcfd;
  }
  
  #h{
    background-color: #7a730ce3;
  }

  #j{
    background-color: blue;
    height: 80px;
  }
}

@media (min-width: 641px){
  /*tablet*/
  #body {
    min-width: 641px;
  }

  #html, body {
    width: 100%;
  }

#header {
  width: 100%;
  height: 75px;
}

#nav {
  width: 100%;
  height: 150px;
}

#bigContent {
  width: 100%;
  height: 500px;
}

#smallContent {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

#smallContent >p {
  width: 50%;
  height: 50%;
  margin: 0px;
}

#a, #b, #c, #d, #e, #f, #g, #h, #j{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black .5px;
  margin: 0px;
}

#a {
    background-color:#c8d645;
    height: 75px;
  }

  #b {
    background-color:#e2c647ec;
    width: 100%;
    height: 150px;
  }

  #c {
    background-color:#c069e2;
    height: 125px;
  }

  #d {
    background-color: #6e8ffa;
    height: 125px;
  }

  #e {
    background-color:#c95110; 
  }

  #f {
    background-color: #ddcf0ed5;
}

  #g {
    background-color:#7cfc00;
  }

  #h {
    background-color: #313de9;
  }

  #j {
    background-color: #928787;
    height: 80px;
  }
}

@media (min-width: 769px) {
  /* desktop */
  body {
    min-width: 769px;
    /* margin: auto; */
  }
  html, body {
    width: 100%;
  }
  
  #header {
    width: 100%;
    height: 100px; 
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #content {
    width: 79.2%;
  }

  #nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:20.8%;
    height: 600px;
  }

  #nav > p{
    width:100%;
    height: 600px;
  }

  #largeContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    /* display: inline-block; */
  }
  
  #largeContent > p {
    width: 50%;
    height: 200px;
  }

  #smallContent {
    width: 100%;
    height: 250px;
  }

  #smallContent > p {
    width: 25%;
    height: 250px;
  }
  
  #footer {
    width: 79.2%;
    height: 150px;
  }

  #j {
    width: 100%;
    height: 150px;
  }

  #a, #b, #c, #d, #e, #f, #g, #h, #j {
    border: solid #200fb1;
  }

  #a {
     background-color: #ec640a;
  }
  #b {
    background-color: #d3a343;
  }
  #c, #d {
    background-color: #d73de6;
  }

  #e, #f, #g, #h {
 
    background-color: #73ff00;
  }

  #f{
    background-color: #3a93c7;
  }

  #g {
    background-color: #e40926ea;
  }
  
  #h {
    background-color: gold;
  }

  #j {
    background-color: #1114dd;
  }
}
